

</body>
<footer>
<div class="row">
  <div class="col span-1-of-2">
    <p>Made with ❤️ by Jonathan Cochran</p>
  </div>
  <div class="col span-1-of-2">
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin"></i>
    <i class="fab fa-github-square"></i>
    <i class="fas fa-globe-americas"></i>
  </div>
</div>
</footer>
</html>
